#cabecalho {
    background-color: tomato;
    width: 46vw;
    margin: 5px 15px 0px 5px;
}
#cabecalho h1{
    color:  yellow;
    font-family: cursive;
    text-align: center;
}
#cabecalho p{
    color:  black;
    font-family: 'Caveat', cursive;
}
section{
}
#ImgTable {
    display: flex;
    
    margin: 10px 10px 10px 10px;
}
#ImgTable th{
    border-bottom: 2px solid white;
    text-align: right;
}
#ImgTable td{
    border-bottom: 2px solid white;
    text-align: left;
}
#footer{
display: flex;
align-items: center;
justify-content: center;
}