
    p{
    background-color: yellowgreen;
    color: blueviolet;
    font-size: 20px;    
    background-image: url(./img/Mufasa.png);    
    background-size: auto;        
    background-repeat: no-repeat;        
    }
   