html{
    width: 100%;
    height: 100%;
}

body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.busca{
background-color: darkkhaki;
font-weight: bold;
text-transform: uppercase;
width: 230px;
margin-right: 10px;
float: left;
}
.menu-conteudo{
background-color: darkkhaki;
font-weight: bold;
text-transform: uppercase;
width: 230px;
margin-right: 10px;
float: left;
}

.menu-conteudo li{
background-color:khaki;
margin-bottom: 5px;
padding: 5px 10px;
}

.menu-conteudo{
clear:left;
}

.busca{
vertical-align: middle;
}

h1{
background-image: url(../img/mario.jpeg);
}

.footer img{
    
}

.menu-conteudo li ul{
    display: none; /*no mouse aparece*/
}

.menu-conteudo li:hover ul{
    display: block; /*no mouse aparece*/
}