html, body{
width: 100%;
height: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
}

.div{
width: 20%;
height: 40%;
background-color: black;
color: white;
font: bold;
margin: 0 20px;
text-align: center;
}

.a{
    border-radius: 10px;
}

.b{
    border: 10px, 5px;
}

.c{
    border: 10px, 5px, 20px;
}

.d{
    border: 10px, 5px, 20px, 30px;
}

.e{
    border-radius: 50%;
}

.f{
    border-radius: 10px;
    box-shadow: 10px 10px 5px red;
}

.g{
    border-radius: 10px;
    box-shadow: 10px 10px 5px red, 10px -10px 5px;
}